.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css header */
/* Tổng thể */
header {
  background-color: #1c1c1e; /* Màu nền tối */
  border-bottom: 3px solid #a97822; /* Viền dưới */
}
header {
  background-color: #a97822 !important;
}

/* Logo */
.navbar-brand {
  color: #a97822 !important; /* Màu logo */
  text-transform: uppercase;
  font-weight: bold;
}

/* Tagline */
.small {
  color: #e6c18b !important; /* Màu tagline */
}

/* Menu */
.nav-link {
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #a97822 !important; /* Màu nhấn khi hover */
}

/* Mobile menu toggle */
.navbar-toggler-icon {
  filter: invert(1); /* Màu trắng cho biểu tượng menu */
}
